<div id="<%= dom_id busdetail %>">
  <p>
    <strong>Bus name:</strong>
    <%= busdetail.bus_name %>
  </p>

  <p>
    <strong>Bus no:</strong>
    <%= busdetail.bus_no %>
  </p>

  <p>
    <strong>Total seats:</strong>
    <%= busdetail.total_seats %>
  </p>

  <p>
    <strong>Available seats:</strong>
    <%= busdetail.available_seats %>
   </p> 

  <p>
    <strong>Start time:</strong>
    <%= busdetail.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= busdetail.end_time %>
  </p>

</div>


